
    <div class="mt-5">
          <div class="container mt-4">
              <div class="row mb-5">
                <div class="col-md-10 text-center offset-md-1" data-aos="fade-up" >
                  <h2 class="myheading">CONTACT US</h2>
                  <p class="mb-0 my-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In error reprehenderit quam enim obcaecati, repudiandae officia a cumque nemo provident!</p>
                </div>
              </div> <br>
              <div class="row">
                <div class="col-md-10 mb-5 text-center offset-md-1" data-aos="fade-up"  >
                  <form>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                        <div class="validate"></div>
                      </div>
                      <div class="col-md-6 form-group">
                        
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" />
                        <div class="validate"></div>
                      </div>
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                        <div class="validate"></div>
                      </div>
                      <div class="col-md-12 form-group">
                       
                        <textarea class="form-control" name="message" cols="30" rows="8" placeholder="Your message"></textarea>
                        <div class="validate"></div>
                      </div>
      
      
                      
      
                      <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-primary  mx-auto btn-block" value="Send Message" style="font-size: 16px;">
                      </div>
  
                    </div>
      
                  </form>  
                </div>        
              </div>
        </div>
    </div>
