
.round input[type="checkbox"]{
    -webkit-appearance: none;
    width: 18px !important;
    height: 18px;
    border: 1px solid lightgray;
    border-radius: 99999px;
    border:1px solid rgb(207, 204, 204);
    background: white;
    position: relative;
    outline: none;
    cursor:pointer;
    top: .3em;
  }
   .options input[type=checkbox] {
    height:16px;
    width:16px;
}
  
   
  .round input[type="checkbox"]:checked{
    border: solid 2px lightgray;
  }
  
  .round input[type="checkbox"]:checked:before{
    content:"\2713";
    border-radius: 50%;
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    top: -6px;
    left: 1px;
    font-weight: bold;
  }
  .option {
      background-color: white;

  }
    