<footer class="footer">
  <div class="row">
    <div class=" col-6 col-md-4" style="text-decoration: none;">
      <span class="navbar-brand ty-logo1"> TES<span class="ty-span1">TY</span>ANTRA
      </span>
      <span class="ty-social">
          <a href=""><i class="fa fa-facebook myicon-fb"></i></a>
          <a href=""><i class="fa fa-instagram myicon-inst"></i></a>
          <a href=""><i class="fa fa-linkedin-square myicon-linkd"></i></a>
      </span>
    </div>
    <div class="col-6 col-md-8 ty-text">
      <div>© 2019 Test Yantra Software Solutions</div>
    </div>
  </div>
</footer> 