<div class="container mt-4">

    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input"  (change)="onFileChange($event)">
          <label class="custom-file-label">Choose file</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="uploadfile()">Upload</button>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="">
        <div *ngFor="let question of excelData">
            <div *ngIf='question.questionType=== "mcq"'>
                <div>
                    <!-- <p style="margin-top:22px">{{question.no}} {{question.questionName}}</p> -->
                    <input type="text" name="questionName"  class="form-control"
                    placeholder="Enter Question" />
                    <input type="radio" disabled> &nbsp;{{question.options}}
                </div>
            </div>
            <div *ngIf='question.questionType=== "checkbox"'>
                <div>
                    <input type="text" name="questionName"  class="form-control"
                    placeholder="Enter Question" />
                    <input type="checkbox" disabled>{{question.options}}
                </div> 
            </div>
            <div *ngIf='question.questionType=== "paragraph"'>
                <div>
                    <input type="text" name="questionName"  class="form-control"
                    placeholder="Enter Question"/>
                  <textarea class="form-control"></textarea>
                </div> 
            </div>
        </div>  
    </div> 
</div>  


  


  